@font-face {
    font-family: 'NaMU',Arial,sans-serif;
    src: url();
}

:root {
    --main-red: #e7363c;
    --grey-border: 1px solid #d3d3d3;
    --text-color: #333;
  }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'NaMU', Arial, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav {
    /* display: none; */
    position: relative;
    background-color: rgb(188, 252, 188);
    flex: 0 0 255px;
    min-width: 255px;
    min-height: 100vh;
    padding: 20px;
}

.nav__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-red);
    font-size: 26px;
    cursor: pointer;
}

.nav__logo {
    height: 40px;
    margin-bottom: 15px;
    background-color: rgb(244, 183, 183);
}

.nav__search input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px 4px 10px;
    font-size: .8em;
    border: 1px solid #d3d3d3
}

.nav__menu {
    margin: 0 0 15px;
    padding: 0 0 0 18px;
    list-style-type: "⭕";
    list-style-position: outside;
    line-height: 1.4em;
}

.nav__menu-item {
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 15px;
}

.nav__menu-item > a {
    font-size: 18px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
}

.nav__menu-item__active > a {
    color: var(--main-red);
    font-weight: 600;
}

.nav__sub-menu {
    padding-top: 6px;
    padding-left: 10px;
}

.nav__sub-menu-item {
    list-style: none;
}

.nav__sub-menu-item:not(:last-child) {
    padding-bottom: 6px;
}

.nav__sub-menu-item > a {
    font-size:18px;
    color: var(--text-color);
    text-decoration: none;
}

.main-block {
    flex-grow: 1;
}

.header {
    position: relative;
    display: flex;
    height: 339px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(251, 250, 228);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

.header__open-nav-btn {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;
    width: 30px;
    height: 30px;
    color: var(--main-red);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    cursor: pointer;
}

.header__user-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.header__user-btn svg {
    fill: var(--main-red);
}

.header__text {
    align-self: flex-end;
    z-index: 5;
    font-size: clamp(28px, 6.8vw, 63px);
    font-weight: 400;
}

.header__image {
    position: absolute;
    top: 30px;
    right: 10%;
    width: 35%;
    height: calc(100% - 40px - 30px);
    background-color: rgb(159, 182, 159);
}

/* main {
} */

.main-carusel {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-carusel__item {
    background-color: rgb(217, 249, 167);
    position: relative;
    min-height: 300px;
    padding: 20px 60px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.item-body {
    background-color: rgb(249, 243, 167);
    flex-grow: 1;
    text-align: center;
}

.bullet-block {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.bullet-block__bullet {
    height: 10px;
    width: 10px;
    margin: 5px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    cursor: pointer;
}

.bullet-block__bullet.bullet-block__bullet--loaded,
.bullet-block__bullet:hover {
    background-color: var(--text-color);
}

.arrow-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 130px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--main-red);
    border-radius: 50%;
    cursor: pointer;
}

.arrow-btn.arrow-btn--next {
    left: auto;
    right: 10px;
}

.arrow-btn__arrow {
    width: 15px;
    height: 15px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(-45deg);
}

.arrow-btn.arrow-btn--next .arrow-btn__arrow {
    transform: rotate(135deg);
}